.roamTerm .rm-block-text
{
    background-color: rgb(235, 232, 232);
    border-radius: 0 5px 5px 0;
}

.roamTerm .prompt-prefix-area {
    background-color: rgb(235, 232, 232);
    display: flex;
    flex: 0 0 35px;
    margin-top: -1px;
    height: 29px;
    padding-top: 4px;
    padding-left: 4px;
    border-radius: 5px 0 0 5px;
    
}
